.privacy {
  height: 100vh;
  .ibox {
    background: #fff;
    padding: 50px;
    font-family: "Poppins", sans-serif;
  }

  .ibox h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }

  .ibox h4 {
    margin-bottom: 2rem;
  }

  .ibox p {
    color: #333333;
  }

  .theading h2 {
    margin-bottom: 0.2rem;
  }
}
